*.iml
*.log
*.bak
*.apk
.gradle/
.idea/
.tmp/
local.properties
.DS_Store
captures/
.externalNativeBuild
.cxx
app/build/
app/release/
Cameralibrary/build/
Common/build/
Debug/build/
imageeditlibrary/build/
TRTCAPP/build/
