<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yidiantong">

    <permission-group android:name="${applicationId}.andpermission" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_ydt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_ydt"
        android:supportsRtl="true"
        android:theme="@style/Theme.YiDianTong"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.TRemoveControlActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TCourseScannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CourseLookActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CourseScannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SelectDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TBellNoticeUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TBellNoticeSubmitActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TBellLookNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NoticeLookActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookVedioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookRecoverActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainBookActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SelectCourseActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 作业 -->
        <activity
            android:name=".ui.THomeworkAddActivity"
            android:exported="false" />
        <activity
            android:name=".ui.THomeworkMarkSubmitActivity"
            android:exported="false" />
        <activity
            android:name=".ui.THomeworkMarkPagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.THomeworkReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.THomeworkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TMainPagerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.HomeworkPagerFinishActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 涂鸦 -->
        <activity
            android:name=".ui.DoodleActivity"
            android:exported="false" /> <!-- 交作业 -->
        <activity
            android:name=".ui.HomeworkSubmitActivity"
            android:exported="true" /> <!-- 测试1 -->
        <activity
            android:name=".TestActivity"
            android:exported="true" /> <!-- 测试2 -->
        <activity
            android:name=".Test2Activity"
            android:exported="true" /> <!-- 作业 -->
        <activity
            android:name=".ui.HomeworkPagerActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" /> <!-- 主页 -->
        <activity
            android:name=".ui.MainPagerActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" /> <!-- 登录 -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 内容提供者-相机 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.yidiantong.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>