<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yidiantong">

    <permission-group android:name="${applicationId}.andpermission" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--直播相关-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_ydt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_ydt"
        android:supportsRtl="true"
        android:theme="@style/Theme.YiDianTong"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.LearnPlanPagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.THomeworkAddPickActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookVedioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookRecoverActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainBookActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SelectCourseActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 作业 -->
        <activity
            android:name=".ui.THomeworkAddActivity"
            android:exported="false" />
        <activity
            android:name=".ui.THomeworkMarkSubmitActivity"
            android:exported="false" />
        <activity
            android:name=".ui.THomeworkMarkPagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.THomeworkReportActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.THomeworkActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TMainPagerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.HomeworkPagerFinishActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 涂鸦 -->
        <activity
            android:name=".ui.DoodleActivity"
            android:exported="false" /> <!-- 交作业 -->
        <activity
            android:name=".ui.HomeworkSubmitActivity"
            android:exported="true" /> <!-- 测试1 -->
        <activity
            android:name=".TestActivity"
            android:exported="true" /> <!-- 测试2 -->
        <activity
            android:name=".Test2Activity"
            android:exported="true" /> <!-- 作业 -->
        <activity
            android:name=".ui.HomeworkPagerActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" /> <!-- 主页 -->
        <activity
            android:name=".ui.MainPagerActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" /> <!-- 登录 -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 内容提供者-相机 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.yidiantong.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 直播相关 -->

        <activity
            android:name="com.navigationdemo.MainActivity"
            android:exported="true"
            android:label="35授课一点通"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <!--        <activity android:name="callvideo.VideoCallingActivity_before" />-->
        <!--        <activity android:name="com.navigationdemo.VideoCallingEnterActivity" />-->

        <activity
            android:name="com.navigationdemo.MainActivity_tea"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TRTC_Client.NoActionBar" >
        </activity>
        <activity
            android:name="com.navigationdemo.MainActivity_stu"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TRTC_Client.NoActionBar" >
        </activity>
        <activity
            android:name="com.navigationdemo.SetInfo_MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">

        </activity>
        <service android:name="com.navigationdemo.MediaService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            android:exported="true"/>
        <!--    分享视频功能需要    -->
        <!--        <activity-->
        <!--            android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity"-->
        <!--            android:theme="@android:style/Theme.Translucent"/>-->

    </application>

</manifest>