<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yidiantong" >

    <permission-group android:name="${applicationId}.andpermission" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_ydt"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round_ydt"
        android:supportsRtl="true"
        android:theme="@style/Theme.YiDianTong"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity android:name=".ui.KnowledgeSubmitActivity"
            android:exported="false" />
        <activity android:name=".ui.KnowledgeStudyChangeActivity"
            android:exported="false" />
        <activity android:name=".ui.BookExercise2ThreeActivity"
            android:exported="false" />
        <activity android:name=".ui.OnlineTestActivity"
            android:exported="false" />
        <activity android:name=".ui.OnlineTestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OnlineTestNullActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TReadAloudAddActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.TLearnPlanPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.THomeworkPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeworkFinishSubmitActivity"
            android:exported="false" />
        <activity
            android:name=".ui.THomeworkImageMark"
            android:exported="false" />
        <activity
            android:name=".ui.KnowledgeShiTiDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.KnowledgeShiTiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.KnowledgePointActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AutoStudyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookUpDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainBookUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookExerciseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainBookExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TCameraShareActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.BookSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.MyIntroductionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.TImageEditActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".ui.TLiveEditActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.ResourceFolderShowActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.ResourceFolderActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.TTeachEditHomeworkCameraActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.CourseQuestionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.CourseLockActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.THomeworkCameraAddPickActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.THomeworkCameraAddActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TTeachEditPackageActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TTeachEditHomeworkActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TTeachEditActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TTeachAssginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TLearnPlanAddPickActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TLearnPlanAddActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TWeikeAddPickActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TWeikeAddActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TPackageAddPickActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TPackageAddActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TLiveAddActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TLiveListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.LearnPlanSubmitActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.LiveListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.LearnPlanPagerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.THomeworkAddPickActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TRemoveControlActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TCourseScannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CourseLookActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.CourseScannerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.SelectDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.TBellNoticeUpdateActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TBellNoticeSubmitActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TBellLookNoticeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.NoticeLookActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.BookVedioActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.BookRecoverActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.MainBookActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.BookRecyclerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.SelectCourseActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:configChanges="orientation|screenSize"
            android:required="false" /> <!-- 作业 -->
        <activity
            android:name=".ui.THomeworkAddActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.THomeworkMarkSubmitActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.THomeworkMarkPagerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.THomeworkReportActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.THomeworkActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TMainPagerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.HomeworkPagerFinishActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:configChanges="orientation|screenSize"
            android:required="false" /> <!-- 涂鸦 -->
        <activity
            android:name=".ui.DoodleActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" /> <!-- 交作业 -->
        <activity
            android:name=".ui.HomeworkSubmitActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" /> <!-- 测试1 -->
        <activity
            android:name=".TestActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" /> <!-- 测试2 -->
        <activity
            android:name=".Test2Activity"
            android:configChanges="orientation|screenSize"
            android:exported="true" /> <!-- 作业 -->
        <activity
            android:name=".ui.HomeworkPagerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" /> <!-- 主页 -->
        <activity
            android:name=".ui.MainPagerActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" /> <!-- 登录 -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 内容提供者-相机 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.yidiantong.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>